body {
    background-color: #94a8e7;
    text-align:  left;
    height: 750px;
    margin-right: auto;
    margin-left : auto;
    position: relative;
  }

#canvas_wrapper{
	width:600px;
    height:700px;
    margin:0 auto;
}
